body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#search-songs-view {
    max-width: 800px;
    padding: 20px;
}

#search-results {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

#song-search-section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

input[type="text"] {
    width: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
}

select {
    width: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
}

#search-button {
    width: 10%;
}

#radioButtons {
    margin-left: 5px;
    margin-bottom: 15px;
    display: inline-block;
    align-items: flex-start;
}